.notion {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(55, 53, 47);
  caret-color: rgb(55, 53, 47);
}

.notion .red {
  color: rgb(224, 62, 62);
}
.notion .pink {
  color: rgb(173, 26, 114);
}
.notion .blue {
  color: rgb(11, 110, 153);
}
.notion .purple {
  color: rgb(105, 64, 165);
}
.notion .teal {
  color: rgb(15, 123, 108);
}
.notion .yellow {
  color: rgb(223, 171, 1);
}
.notion .orange {
  color: rgb(217, 115, 13);
}
.notion .brown {
  color: rgb(100, 71, 58);
}
.notion .gray {
  color: rgb(155, 154, 151);
}

.notion .red_background {
  background-color: rgb(251, 228, 228);
}
.notion .pink_background {
  background-color: rgb(244, 223, 235);
}
.notion .blue_background {
  background-color: rgb(221, 235, 241);
}
.notion .purple_background {
  background-color: rgb(234, 228, 242);
}
.notion .teal_background {
  background-color: rgb(221, 237, 234);
}
.notion .yellow_background {
  background-color: rgb(251, 243, 219);
}
.notion .orange_background {
  background-color: rgb(250, 235, 221);
}
.notion .brown_background {
  background-color: rgb(233, 229, 227);
}
.notion .gray_background {
  background-color: rgb(235, 236, 237);
}

.notion-h1 {
  font-weight: 600;
  font-size: 1.875em;
  line-height: 1.3;
  color: inherit;
  margin-top: 1.4em;
  margin-bottom: 1px;
}

.notion-h2 {
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.3;
  color: inherit;
  fill: inherit;
  margin-top: 1.1em;
  margin-bottom: 1px;
}

.notion-h3 {
  font-weight: 600;
  font-size: 1.25em;
  line-height: 1.3;
  color: inherit;
  fill: inherit;
  margin-top: 1em;
  margin-bottom: 1px;
}

.notion-quote {
  white-space: pre-wrap;
  word-break: break-word;
  border-left: 3px solid currentcolor;
  padding-left: 0.9em;
  padding-right: 0.9em;
  font-size: 1.2em;
}

.notion-hr {
  margin: 6px 0px;
  border-color: rgba(55, 53, 47, 0.09);
}

.notion-column {
  padding-top: 12px;
  padding-bottom: 12px;
}
.notion-link {
  text-decoration: underline;
}
.notion-inline-code {
  color: #eb5757;
  padding: 0.2em 0.4em;
  background: rgba(135, 131, 120, 0.15);
  border-radius: 3px;
  font-size: 85%;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
}

.notion-list {
  margin-left: 24px;
  margin-right: 10px;
}

.notion-list-disc {
  list-style-type: disc;
}
.notion-list-numbered {
  list-style-type: decimal;
}

.notion-list li {
  padding-left: 4px;
}
.notion-asset-wrapper {
  display: flex;
  justify-content: center;
}
.notion-text {
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: rgb(55, 53, 47);
}

.notion-block {
  padding: 3px 2px;
}

.notion-row {
  display: flex;
}
